.idea
.vscode
nbproject

.buildpath
.project
.settings

Thumbs.db
.DS_Store

/vendor
/phpunit.xml
tests

.git
runtime/*
web/assets/*
web/uploads
.php-cs-fixer.cache
.gitignore
.gitattributes
.git-blame-ignore-revs
LICENSE.md
README.md
