#Docker
APP_EXTERNAL_PORT=8001
APP_CONTAINER_NAME=app
DB_EXTERNAL_PORT=3307
DB_CONTAINER_NAME=db
XDEBUG=true
XDEBUG_CLIENT_HOST=docker.for.mac.localhost
XDEBUG_CLIENT_PORT=9040
SUBNET=172.96.0.0/24

#App
DB_HOST="${DB_CONTAINER_NAME}"
DB_PASSWORD=test
DB_DATABASE=test
DB_USERNAME=test
